## TORCHGEO DATASETS DOWNLOAD INSTRUCTIONS

In [4]:
import os
import pandas as pd

### Landsat (with landsatxplore)

1. First, let's (down)load landsatexplore module

In [3]:
try:
    import landsatxplore
except ImportError as e:
    !pip install landsatxplore

2. Then we search for the min/max coordinates from our csv data:

In [6]:
csv_name = 'wealth_index.csv' # set your csv filename
csv_path = os.path.join('..', csv_name) 
csv_data = pd.read_csv(csv_path)

In [8]:
csv_data.head()

         lat        lon  year  month  day  asset_wealth  households
0 -12.350257  13.534922  2011    NaN  NaN      2.312757          36
1 -12.360865  13.551494  2011    NaN  NaN      2.010293          32
2 -12.613421  13.413085  2011    NaN  NaN      0.877744          36
3 -12.581454  13.397711  2011    NaN  NaN      1.066994          35
4 -12.578135  13.418748  2011    NaN  NaN      1.750153          37

In [9]:
minx = csv_data['lat'].min()
maxx = csv_data['lat'].max()
miny = csv_data['lon'].min()
maxy = csv_data['lon'].max()